.uploadBackground {
   background-color: #7b61ff;
}

.hometitle {
   font-family: "PoppinsFonts";
   line-height: 1.2em;
   background: linear-gradient(93.69deg, #6d42f7 0%, #db13c8 107.12%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   text-fill-color: transparent;
 }

.titletext {
   font-family: "GeostarFonts";
   font-size: 100px;
   color: white;
}

 .mintboxbackgroundimage {
  background: url("../../Assets/images/mintboxbackground.png") no-repeat;
  background-size: 100% 100%;
}

.mintitembackgroundimage {
   background: url("../../Assets/images/mintitembackground.png") no-repeat;
   background-size: 100% 100%;
 }

.homebackgroundimage {
   background: url("../../Assets/images/mintsitebackround1.png") no-repeat;
   background-size: 100% 100%;
 }
